@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&display=swap');

/*  COLOR   */
:root{
  --Dark-Blue: hsl(209, 23%, 22%);                   /* (Dark Mode Elements)*/
  --Very-Dark-Blue: hsl(207, 26%, 17%);             /*(Dark Mode Background)*/
  --Very-Dark-Blue : hsl(200, 15%, 8%);            /*(Light Mode Text)*/
  --Dark-Gray : hsl(0, 0%, 52%);                  /*(Light Mode Input)*/
  --Very-Light-Gray : hsl(0, 0%, 98%);           /*(Light Mode Background)*/
  --White : hsl(0, 0%, 100%);                   /*(Dark Mode Text & Light Mode Elements)*/
}

/*Body*/
*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Very-Dark-Blue);
  font-family: 'Nunito Sans', sans-serif;
  color: var(--White);
}

/*  Countries   */
img{
  max-width: 100%;
  border-radius: 5px 5px 0 0;
  
}
.grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px 40px;
}
.country-info{
  background: var(--Dark-Blue);
  border-radius: 0 0 5px 5px;
  margin-top: -6px;
  padding: 35px 20px;
  width: 100%;
}
.country-info h1{
  padding-bottom: 20px;
}
.country-info p{
  font-weight: 600;
  padding-bottom: 5px;
}
.country-info p span{
  font-weight: 300;
}
@media (min-width: 640px){
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px){
  .grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 920px){
  .grid{
    grid-template-columns: repeat(4, 1fr);
  }
}