@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&display=swap');

/*  COLOR   */
:root{
  --Dark-Blue: hsl(209, 23%, 22%);                   /* (Dark Mode Elements)*/
  --Very-Dark-Blue: hsl(207, 26%, 17%);             /*(Dark Mode Background)*/
  --Very-Dark-Blue-Text : hsl(200, 15%, 8%);            /*(Light Mode Text)*/
  --Dark-Gray : hsl(0, 0%, 52%);                  /*(Light Mode Input)*/
  --Very-Light-Gray : hsl(0, 0%, 98%);           /*(Light Mode Background)*/
  --White : hsl(0, 0%, 100%);                   /*(Dark Mode Text & Light Mode Elements)*/
}

/*  GLOBAL    */
*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Very-Dark-Blue);
  font-family: 'Nunito Sans', sans-serif;
  color: var(--White);
}
a, a:hover{
  text-decoration: none;
  color: var(--White);
}
body.light a, body.light a:hover{
  color: var(--Very-Dark-Blue-Text);
}

/*  HEADER   */
header{
  background-color: var(--Dark-Blue);
  padding: 20px 40px;
}

header .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header h1{
  font-size: 18px;
}
.btn{
  background-color: var(--Dark-Blue);
  border: none;
  outline: none;
  color: var(--White);
  cursor: pointer;
  display: flex;
  align-items: center;
  
}
.btn svg{
  margin-right: 10px;
}
/*  Search  */
.filter{
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}

.c-search{
  background-color: var(--Dark-Blue);
  color: var(--White);
  padding: .7rem;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 30px;
  width: 100%;
}
.c-search::placeholder{
  color: var(--White);

}
.filter .filter-form,
.filter .options{
  width: 100%;
}
.filter .options select{
  background-color: var(--Dark-Blue);
  color: var(--White);
  padding: .7rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 200px;
}


/*  Countries   */
img{
  max-width: 100%;
}
.grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px 40px;
}
.grid .image img{
  border-radius: 5px 5px 0 0;
}
.country-info{
  background: var(--Dark-Blue);
  border-radius: 0 0 5px 5px;
  margin-top: -6px;
  padding: 35px 20px;
  width: 100%;
}
.country-info h1{
  padding-bottom: 20px;
}
.country-info h3{
  padding-bottom: 15px;
}
.country-info h4 span{
  font-weight: 300;
}

/*  LIGHT THEME   */
body.light{
  background-color: var(--Very-Light-Gray);
}

body.light header{
  background-color: var(--white);
  color: var(--Very-Dark-Blue-Text);
  box-shadow: 0 0 6px 1px rgb(0 0 0 / 30%);

}
body.light header .btn{
  background-color: transparent;
  color: var(--Very-Dark-Blue-Text);
}

body.light .filter-form .c-search, 
body.light .options select{
  background-color: var(--white);
  box-shadow: rgb(0 0 0 / 30%) 0px 3px 7px -5px;
  color: var(--Dark-Gray);
}
body.light .filter-form .c-search::placeholder{
  color: var(--Dark-Gray);
}

body.light .grid article{
  background-color: var(--White);
  box-shadow: rgb(0 0 0 / 30%) 0px 3px 7px -5px;
  border-radius: 5px;
}
body.light .grid article .country-info{
  background-color: transparent;
}
body.light .grid article .country-info h3, 
body.light .grid article .country-info h4{
  color: var(--Very-Dark-Blue-Text);
}
/*  Responsivo  */
@media (min-width: 640px){
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .grid .image img{
    width: 277.5px;
    height: 120px;
    object-fit: cover;
  }
}

@media (min-width: 768px){
  .grid{
    grid-template-columns: repeat(3, 1fr);
  }
  .grid .image img{
    width: 277.5px;
    height: 140px;
    object-fit: cover;
  }
    /*  Search  */
  .filter{
    flex-direction: row;
    justify-content: space-between;
  }

  .c-search{
    margin-bottom: 0;
    width: 460px;
  }

  .filter .filter-form,
  .filter .options{
    width: auto;
  }
  .filter .options select{
    display: inline-block;
  }
}

@media (min-width: 920px){
  .grid{
    grid-template-columns: repeat(4, 1fr);
  }

  .grid .image img{
    width: 277.5px;
    height: 180px;
    object-fit: cover;
  }

  header .header h1{
    font-size: 27px;
  }



}